/* --responsive grid */

    .row,
    .row.fixedspacing {
        [class*="span"] {
            float:none;
            width:auto;
            margin-left:0;
            padding:0;
        }
        [class*="offset"] {
            margin-left:0;
            &:first-child {
                margin-left:0;
            }
        }
        .row {
            margin:0;
        }
        
        /* non-collapsing grid */
        &.fix {
            [class*="span"] {
                float:left;
                margin-left:@percentColGutter;
                &:first-child {
                    margin-left:0;
                }
            }
            /* build all the columns */
            @fixIterations: @numCols;
            .fixLoopingClass(@fixIndex) when (@fixIndex > 0){
                .span@{fixIndex}{
                    width:@percentColWidth * @fixIndex + (@percentColGutter * (@fixIndex - 1));
                }
                .fixLoopingClass(@fixIndex - 1);
            }
            .fixLoopingClass(0){}
            .fixLoopingClass(@fixIterations);
        }
    }
    
    .row.reverselayout {
        [class*="span"] {
            float:none;
            margin:0;
        }
        [class*="offset"] {
            margin-right:0;
            &:first-child {
                margin-right:0;
            }
        }
    }
