/* --reset */
    body,
    div,
    form,
    fieldset,
    ul,
    ol,
    li,
    dl,
    dt,
    dd {
        padding:0px;
        margin:0px;
    }

    li {
        list-style:none;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    menu,
    nav,
    section,
    main {
        display:block;
    }

    //fixing firefox button sizing inconsistency
    button::-moz-focus-inner{
        padding:0;
        border:none;
    }
