/* -----------------------------------------------------------------------------
 * Alerts - taken from BS3
 * -------------------------------------------------------------------------- */

// Base styles
// -------------------------
.alert {
    padding: $alert-padding;
    margin-bottom: $line-height-computed;
    border: 1px solid transparent;
    border-radius: $alert-border-radius;

    // Headings for larger alerts
    h4 {
        margin-top: 0;
        // Specified for the h4 to prevent conflicts of changing $headings-color
        color: inherit;
    } // /h4

    // Provide class for links that match alerts
    .alert-link {
        font-weight: $alert-link-font-weight;
    } // /.alert-link

    // Improve alignment and spacing of inner content
    > p,
    > ul {
        margin-bottom: 0;
    } // /> ul

    > p + p {
        margin-top: 5px;
    } // /> p + p
} // /.alert

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
    padding-right: ($alert-padding + 20);

    // Adjust close link position
    .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit;
    } // /.close
} // /.alert-dismissible

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
} // /.alert-success

.alert-info {
    @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
} // /.alert-info

.alert-warning {
    @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
} // /.alert-warning

.alert-danger {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
} // /.alert-danger

/* -----------------------------------------------------------------------------
 * Alerts - responsive
 * -------------------------------------------------------------------------- */
// > xs
// -----------------------------------------------------------------------------
@media (min-width: $screen-xs-min) {} // /xs

// > sm
// -----------------------------------------------------------------------------
@media (min-width: $screen-sm-min) {} // /sm

// > md
// -----------------------------------------------------------------------------
@media (min-width: $screen-md-min) {} // /md

// > lg
// -----------------------------------------------------------------------------
@media (min-width: $screen-lg-min) {} // /lg
