/* -----------------------------------------------------------------------------
 * Forms
 * -------------------------------------------------------------------------- */

.form {
    .error-msg {
        display: none;
        color: $brand-danger;
        font-size: 90%;
    } // /.error-msg

    .field {
        &.required {
            label {
                &:after {
                    content: ' *';
                } // /&:after
            } // /label
        } // /&.required
    } // /.field
} // /.form


/* -----------------------------------------------------------------------------
 * Forms - responsive
 * -------------------------------------------------------------------------- */
// > xs
// -----------------------------------------------------------------------------
@media (min-width: $screen-xs-min) {

} // /xs

// > sm
// -----------------------------------------------------------------------------
@media (min-width: $screen-sm-min) {

} // /sm

// > md
// -----------------------------------------------------------------------------
@media (min-width: $screen-md-min) {

} // /md

// > lg
// -----------------------------------------------------------------------------
@media (min-width: $screen-lg-min) {

} // /lg
