/* -----------------------------------------------------------------------------
 * Links
 * -------------------------------------------------------------------------- */

a {
    color: $brand-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    } // /&:hover
} // /a

/* -----------------------------------------------------------------------------
 * Links - responsive
 * -------------------------------------------------------------------------- */
// > xs
// -----------------------------------------------------------------------------
@media (min-width: $screen-xs-min) {} // /xs

// > sm
// -----------------------------------------------------------------------------
@media (min-width: $screen-sm-min) {} // /sm

// > md
// -----------------------------------------------------------------------------
@media (min-width: $screen-md-min) {} // /md

// > lg
// -----------------------------------------------------------------------------
@media (min-width: $screen-lg-min) {} // /lg
