/* -----------------------------------------------------------------------------
 * Page
 * -----------------------------------------------------------------------------
 * This file should contain html and body styles, and any other
 * styles that relate to the general wrapping of every page e.g.
 * a page-wrapping element
 * -------------------------------------------------------------------------- */

body {
    font-family: Helvetica, 'Helvetica Neue', Arial, Verdana, sans-serif;
    font-size: 100%;
    color: $grey-dark;
} // /body

/* -----------------------------------------------------------------------------
 * Page - responsive
 * -------------------------------------------------------------------------- */
// > xs
// -----------------------------------------------------------------------------
@media (min-width: $screen-xs-min) {} // /xs

// > sm
// -----------------------------------------------------------------------------
@media (min-width: $screen-sm-min) {} // /sm

// > md
// -----------------------------------------------------------------------------
@media (min-width: $screen-md-min) {} // /md

// > lg
// -----------------------------------------------------------------------------
@media (min-width: $screen-lg-min) {} // /lg
