/* -------------------------------------------------------------
 * Typography
 * Fonts, font sizes, styles, weights, etc.
 * ---------------------------------------------------------- */

// Headings
// -------------------------------------------------------------
h1, h2, h3, h4, h5, h6,
.faux-h1, .faux-h2, .faux-h3, .faux-h4, .faux-h5, .faux-h6 {
    display: block;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-weight: normal;
}
h1,
.faux-h1 {
    font-size: 200%;
}
h2,
.faux-h2 {
    font-size: 170%;
}
h3,
.faux-h3 {
    font-size: 150%;
}
h4,
.faux-h4 {
    font-size: 140%;
}
h5,
.faux-h5 {
    font-size: 120%;
}
h6,
.faux-h6 {
    font-size: 110%;
}

// Standard Copy
// -------------------------------------------------------------
p {
    margin: 0px;
    padding: 0 0 0.75em 0;
} // /p

small {
    font-size: 90%;
} // /small

blockquote {
    margin: 0 0 10px 20px;
    padding: 0 0 0 10px;
    border-left: solid 3px $grey-pale;
    font-size: 1em;
    color: #666666;
} // /blockquote

hr {
    height: 1px;
    margin: 0 0 0.5em 0;
    border: 0;
    border-top: solid 1px $grey-pale;
    clear: both;
} // /hr

// Code
// -------------------------------------------------------------
code {
    padding: 0 0.3em;
    font-size: 1.2em;
} // /code
