/* --mixins */
	/* border radius */
	.border-radius(@radius: 0.3em) {
		-webkit-border-radius: @radius;
		-moz-border-radius   : @radius;
		border-radius        : @radius;
	}



	/* shadow */
	/* usage: .box-shadow( ~"0 1px 0 red, 0 -1px 0 green" ); */
	.box-shadow( @shadow ) {
		-webkit-box-shadow: @shadow;
		box-shadow        : @shadow;
	}

	/* --transforms */
    	.transform ( @trans ){
            transform: @trans;
            -ms-transform: @trans;
            -moz-tranform: @trans;
            -webkit-transform: @trans;
            -o-transform: @trans;
        }

    	.transform-point ( @trans ) {
            transform-origin: @trans;
            -ms-transform-origin: @trans;
            -moz-transform-origin: @trans;
            -o-transform-origin: @trans;
            -webkit-transform-origin: @trans;
        }

	/* usage: .transition( ~"transition, another transition" ); */
    .transition( @trans ){
        transition: @trans;
        -moz-transition: @trans;
        -webkit-transition: @trans;
        -o-transition: @trans;
    }

    .transparency( @trans ){
        @mstrans: @trans * 100;
        filter: alpha(opacity=@mstrans);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="@mstrans")"; /* IE 8 */
        -moz-opacity: @trans; /* Netscape */
        -khtml-opacity: @trans; /* Safari 1.x */
        opacity: @trans; /* Good browsers */
    }

	/* --box sizing */
	.border-box {
		-moz-box-sizing   : border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing    : border-box;
		box-sizing        : border-box;
	}
	.content-box {
		-moz-box-sizing   : content-box;
		-webkit-box-sizing: content-box;
		-ms-box-sizing    : content-box;
		box-sizing        : content-box;
		*behavior         : none;
	}


    /* GRID MIXINS - used to construct the grid */
    /* indent calculation mixin */
    .offset(@multiply, @add:0){
        margin-left:(@percentColWidth * @multiply) + (@percentColGutter * @multiply) + (@percentColGutter * @add);
    }

    /* fixed indent calculation mixin */
    .fixedOffset(@multiply){
        margin-left:(@fixedColWidth * @multiply);
    }

    /* reverse indent - works in reverse, unsurprisingly */
    .reverseOffset(@multiply, @add:0){
        margin-right:(@percentColWidth * @multiply) + (@percentColGutter * @multiply) + (@percentColGutter * @add);
    }


    /* make an element invisible to sighted users but still visible to screen readers */
    /* http://webaim.org/techniques/css/invisiblecontent/ */
    .invisible,
    .totallyinvisible {
        position:absolute;
        left:-100000px;
        width:1px;
        height:1px;
        overflow:hidden;
        outline:0;

    }

    .invisible {
        &:focus {
            position:static;
            width:auto;
            height:auto;
        }
    }
